body {
	text-align: center;
	font-family: 'Lobster Two', cursive;
	text-decoration: none;
	background-color: whitesmoke;
	font-weight: 600;
	font-size: 17px;
}

h1 {
	text-decoration: none;
	color: red;
	border: 5px solid orangered;
	height: 50px;
	font-family: 'Lobster Two', cursive;
	font-weight: 800;
}

h2 {
	text-decoration: underline;
	color: rgb(250,205,57);
	font-family: 'Sanchez', serif;
	font-weight: 500;
}

a {
	color: red;
	font-family: 'Sanchez', serif;
	font-weight:600 ;
	font-size: 16px;
	transition: 0.3s ;
}


p {
	font-family: 'Chivo', sans-serif;
	font-weight:400 ;
	font-size: 15px;
}
.container {
	width: 800px;
	margin: 40px auto;
}


.card-white{
	background-color: white;
	padding: 40px;
	box-shadow: rgba(0,0,0,0.1) 0px 10px 30px;
	border-radius: 5px;
	margin: 20px 0px;
	text-align: center;
}
.img-circle{
	border-radius: 50%; 
}


.btn-red{
	padding:15px 20px;
	background-color: red;
	color: white;
	font-weight: bold;
	text-decoration: none;
	margin-top: 20px;
	cursor: pointer;
	border-radius: 5px;
}
.btn-red:hover{
	background-color: black;
	color: white;
}

.list-inline {
	list-style: none;
	padding-left: 0px; 
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i {
	font-size: 50px;
	color: red;
}
.list-inline i:hover {
	font-size: 50px;
	color: rgb(250,205,57);
}

#introduction p {
	margin-bottom: 40px ;
}

.underline{
text-decoration: underline;
}

@media(max-width: 500px) {
	.container {
		width: 400px;
	}
}

@media(max-width: 760px) {
	.container {
		width: 600px;
	}
}

.matete{
	height: 250px;
	width: 200px;
}

.cv{
	height: 650px;
	width: 500px;
}


.flex{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}